@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}
p {
  margin: 0;
}

li {
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  background-color: #fff3dd;
  color: #333333;
  padding: 10px;
  align-self: stretch;
}

.logo {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0;

  .logo-img {
    height: 40px;
    padding: 0;
    margin-right: 0.5rem;
  }
}

.sign {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  text-align: right;
  justify-content: right;
  gap: 10px;
}

a {
  color: inherit;
}

.nav-item {
  width: 50%;
  text-align: right;
}
.nav-register {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background-color: #fb923c;
  // background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: 0.4s;
}
.nav-link {
  padding-top: 7px;
  margin-right: 40px;
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: larger;
}

.message {
  background-color: lightgrey;
  font-family: "Courier New", Courier, monospace;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Main screen
.main {
  position: relative;
  margin-top: -100px;
}

.main-img {
  position: relative;
  padding-top: 10%;
  height: 70vh;
  left: 45%;
}

.main .main-box {
  position: absolute;
  min-width: 60%;
  background-color: #ffedd5;
  padding: 2rem;
  top: 50%;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.main-comment {
  text-align: center;
  line-height: 1.5;
}

.main-box-button {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.ping {
  display: flex;
  flex-direction: column;
  align-items: center;
}
//registerForm
.flex-container {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.flex-container h2 {
  text-align: center;
}

.register_form {
  margin-top: 2rem;

  width: 100%;
}

.input-tray {
  display: flex;
  flex-direction: column;
}

.form-box {
  display: block;
  padding: 1rem;
  margin: 0.5rem 0 2rem 0;
  background-color: #ffedd5;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.form-box:focus {
  outline: none;
}

.registerSubmit {
  display: block;
  outline: none;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  width: 160px;
  height: 40px;
  margin: 0 auto;
}

.form-textarea {
  max-width: 100%;
  min-height: 150px;
}

// Listing page
.listing-image {
  position: relative;
  margin-top: -100px;
}

.listing-button a {
  display: inline-block;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.listing-image img {
  width: 100%;
}

.listing-top {
  padding: 20px 0;
  width: 800px;
  background-color: rgba(255, 237, 213, 0.8);
  position: absolute;
  top: 50%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.listing-top p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0.5em 0;
}

.listing-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.lisiting-button-item {
  background-color: #ffedd5;
  padding: 10px;
  margin-right: 20px;
  border-radius: 20px;
  border: solid 1px #333;
  font-family: "Montserrat", sans-serif;
}

.searchbar {
  // text-align: center;
  margin: 0 auto;
  // display: block;
  margin-bottom: 1em;
  width: 200px;
  height: 30px;
  border: 2px orange solid;
  outline: none;
}

.linkto-add-profile {
  background-color: #fb923c;
  width: 400px;
  padding: 2em;
  text-align: center;
  border-radius: 4px;  
  margin: -60px 0 ;

}

a.button-linktoaddprofile {
  display: block;
  text-decoration: none;
  width: 195px;
  background-color: #ffedd5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
}

.lists-all {
    display: flex;
    width: 1000px;
    border: 1px solid #333;
    background-color: #F6F6F6;
    margin: -40px 0;

}

.lists-right {
  width: 80%;

  h3 {
    margin-left: 2em;
  }
}

.button-orange {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background-color: #fb923c;
  transition: 0.4s;
}

.button-checkprofile {
  margin-left: 2em;
  margin-top: 1em;
}

.fa-solid {
  margin-right: 10px;
}

.lists-ul-item li {
  padding: 5px 0;
}

.fa-size {
  font-size: 1.25em;
  margin-top: 0.5em;
}

.fa-trash-alt {
  margin-right: 0.5em;
}

.select-pet {
  margin: 0 auto;
  display: block;
  width: 230px;
  height: 40px;
  /* text-align: center; */
  border: solid 3px orange;
  outline: none;
}
.searchButton {
  height: 36px;
  border: 3px orange solid;
  background: orange;
  color: #fff;
}
.searchbar-button {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.form-font {
  font-family: "Montserrat", sans-serif;
}
//Listing Profile Styles

.listing-profile {
  margin: auto
}

.container {
  border-style: solid;
  border: flex;
  border-color: #fb923c;
  background-color: #fce5d2;
  box-sizing: content-box;
  width: 100%;
  border-radius: 20px
}

.profile-picture {
  border-radius: 50%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: stretch;
}