@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  border-style: solid;
  border: flex;
  border-color: #FB923C;
  background-color: #fce5d2;
  box-sizing: content-box;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  background-color: #FFF3DD;
  color: #333333;
  padding: 10px;
  align-self: stretch;
}

.logo {
  width: 50%;
}

.sign {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  text-align: right;
  justify-content: right;
  gap: 10px; 
}

a {
  color: inherit;
}

.nav-item {
  width: 50%;
  text-align: right;
}
.nav-register{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-color: #FB923C;
  // background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}
.nav-link{
  padding-top:7px;
  margin-right: 40px;
  text-decoration: none;
}
    

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: larger;
}

.message {
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
}


// Main screen 



.main-comment {
  text-align: center;
  line-height: 1.5;

}

.ping {
  display: flex;
  flex-direction: column;
  align-items: center;
}
