@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

*


html, 
body {
  font-family: 'Montserrat', sans-serif;
}
p{
  margin:0;
}

li{
  list-style: none;
}

.container {
  border-style: solid;
  border: flex;
  border-color: #FB923C;
  background-color: #fce5d2;
  box-sizing: content-box;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  background-color: #FFF3DD;
  color: #333333;
  padding: 10px;
  align-self: stretch;
}

.logo {
  width: 50%;
}

.sign {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  text-align: right;
  justify-content: right;
  gap: 10px; 
}

a {
  color: inherit;
}

.nav-item {
  width: 50%;
  text-align: right;
}
.nav-register{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-color: #FB923C;
  // background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}
.nav-link{
  padding-top:7px;
  margin-right: 40px;
  text-decoration: none;
}
    

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: larger;
}

.message {
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
}


// Main screen 
.main-box {
 min-width: 500px;
 background-color: #FFEDD5;
 padding: 2rem;
}

.main-comment {
  text-align: center;
  line-height: 1.5;
}

.main-box-button{
display: flex;
justify-content: space-evenly;
margin: 1rem;
}

.ping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Listing page
.listing-image {
  position: relative;
  margin-top: -100px;
  }

.listing-button a {
  display: inline-block;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  }

.listing-image img {
  width: 100%;
  }
  
.listing-top{
  padding: 20px 0;
  width: 800px;
  background-color:rgba(255,237,213,0.8);
  position: absolute;
  top: 50%;
  left: 60%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 20px;
  }

.listing-top p{
text-align: center;
 font-size: 24px;
 font-weight: bold;
 margin: .5em 0;
}

.listing-button{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.lisiting-button-item{
  background-color: #FFEDD5;
  padding: 10px;
  margin-right: 20px;
  border-radius: 20px;
  border: solid 1px #333;
  font-family: 'Montserrat', sans-serif;
}

.searchbar {
  // text-align: center;
  margin: 0 auto;
  // display: block;
  margin-bottom: 1em;
  width: 200px;
  height: 30px;
  border: 2px orange solid;
  outline: none;
}

.linkto-add-profile{
  background-color: #FB923C;
  width: 400px;
  padding: 2em;
  text-align: center;
  border-radius: 4px;  
  margin: -60px 0 ;
}

a.button-linktoaddprofile{
  display: block;
  text-decoration: none;
  width: 195px; 
  background-color: #FFEDD5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
}

.lists-all {
    display: flex;
    width: 1000px;
    border: 1px solid #333;
    background-color: #F6F6F6;
    margin: -40px 0;
}

.lists-right {
  width: 80%;
  
  h3{
    margin-left: 2em;
  }
}


.button-orange{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-color: #FB923C;
  transition: 0.4s;
}

.button-checkprofile{
  margin-left:2em;
  margin-top: 1em;
}

.fa-solid{
  margin-right:10px;
}

.lists-ul-item li{
  padding: 5px 0;
}

.fa-size{
 font-size: 1.25em;
 margin-top: .5em;
}

.fa-trash-alt{
  margin-right: .5em;
}

.select-pet{
  margin: 0 auto;
  display: block;
  width: 230px;
  height: 40px;
  /* text-align: center; */
  border: solid 3px orange;
  outline: none;
}
.searchButton {
  height: 36px;
  border: 3px orange solid;
  background: orange;
  color: #fff;
}
.searchbar-button {
  text-align: center;
  display: block;
  margin: 0 auto;

}

.background-color-main{
  background-color: #f9e7d8;
}
